@{
    ViewData["Title"] = "Home Page";
}

<div id="home" class="home">
				<div class="home-txt">
					<h1>Coffee Shop</h1>
					<p><q> Start your Day with a Perfect Cup of Coffee </q></p>
				</div>
				<div class="home-img"></div>
			</div>
