@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Menu";
}
<div id="menu" class="menus-container">
				<article class="menus">
					<h1>Our Menus</h1>
					<p>We provide many charming coffees with high quality beans</p>
				</article>
				<article class="favorite-menus">
					<h3>Favorite</h3>
					<section class="boxes-menus">
						<div class="box-menu">
							<div class="img-menu caramel-macchiato"></div>
							<!-- <img src="assets/img/coffee-shop-logo.png" alt="" /> -->
							<div class="name-menu">
								<h4>Caramel Macchiato</h4>
								<p>Rp. 250000</p>
							</div>
						</div>
						<div class="box-menu">
							<div class="img-menu caramel-latte"></div>
							<!-- <img src="assets/img/coffee-shop-logo.png" alt="" /> -->
							<div class="name-menu">
								<h4>Caramel Latte</h4>
								<p>Rp. 250000</p>
							</div>
						</div>
						<div class="box-menu">
							<div class="img-menu cappuccino"></div>
							<!-- <img src="assets/img/coffee-shop-logo.png" alt="" /> -->
							<div class="name-menu">
								<h4>Cappuccino</h4>
								<p>Rp. 250000</p>
							</div>
						</div>
						<div class="box-menu">
							<div class="img-menu affogato"></div>
							<!-- <img src="assets/img/coffee-shop-logo.png" alt="" height=""/> -->
							<div class="name-menu">
								<h4>Affogato</h4>
								<p>Rp. 250000</p>
							</div>
						</div>
					</section>
				</article>
				<article class="all-menus">
					<h3>All Menus</h3>
					<section class="boxes-menus">
						<div class="box-menu">
							<div class="img-menu espresso"></div>
							<!-- <img src="assets/img/coffee-shop-logo.png" alt="" /> -->
							<div class="name-menu">
								<h4>Espresso</h4>
								<p>Rp. 100000</p>
							</div>
						</div>
						<div class="box-menu">
							<div class="img-menu ice-lemon-tea"></div>
							<!-- <img src="assets/img/coffee-shop-logo.png" alt="" /> -->
							<div class="name-menu">
								<h4>Ice Lemon Tea</h4>
								<p>Rp. 160000</p>
							</div>
						</div>
						<div class="box-menu">
							<div class="img-menu orange-juice"></div>
							<!-- <img src="assets/img/coffee-shop-logo.png" alt="" /> -->
							<div class="name-menu">
								<h4>Orange Juice</h4>
								<p>Rp. 170000</p>
							</div>
						</div>
						<div class="box-menu">
							<div class="img-menu thai-tea"></div>
							<!-- <img src="assets/img/coffee-shop-logo.png" alt="" height=""/> -->
							<div class="name-menu">
								<h4>Thai Tea</h4>
								<p>Rp. 180000</p>
							</div>
						</div>
					</section>
				</article>
			</div>