@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";
}
<aside id="Profile">
				<article class="about">
					<h1>About Founder</h1>
					<p>Here is the profile of our coffee shop founder</p>
				</article>
				<article class="profile-background">
					<div class="profile">
						<div class="informations">
							<h1>Founder</h1>
							<p>Full Name : Maximilian H M Lingga</p>
							<p>Date of Birth : January 30, 2001</p>
							<p>City : Tangerang</p>
							<p>Gender : Male</p>
							<p>Status : Student</p>
							<p>Email Address : max.ling2001@gmail.com</p>
						</div>
					</div>
				</article>
			</aside>