@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Proposal";
}
<aside id="Proposal">
				<article class="about">
					<h1>Proposal</h1>
					<p>We don't have any bussiness proposal as for now</p>
				</article>
				</aside>